src/main/mule/example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="242e25cb-cd53-43b8-baae-9237bec53ea7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="2be7b73c-a1b2-4b18-acb9-124b848eef86" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="2120436c-9285-409a-85e4-0278835efa96" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config3" doc:name="HTTP Listener config" doc:id="68bcff9a-3db6-4a4d-9c58-faffa7fba501" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config4" doc:name="HTTP Listener config" doc:id="c0029a08-6e2a-4f6d-a879-da0a8e830ce1" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config5" doc:name="HTTP Listener config" doc:id="1000428c-dc55-4cd8-ac7d-81e328821291" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="exampleFlow" doc:id="4d56f587-c79e-46f9-85d0-dd8303e25543" >
		<http:listener doc:name="xxx" doc:id="e3f9ca70-5d29-424a-a2bb-52830546cbaa" config-ref="HTTP_Listener_config5" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="eab0c4e1-4323-4911-925f-710a1b8c246b" message="#[payload]"/>
	</flow>
</mule>
